/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: #202020;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

/* header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
    background-color: white;
}

.logo {
    width: 30%;
    text-align: left;
}

.logo img {
    width: 150px;
    height: auto;
}

header nav {
    width: 70%;
    padding: 20px 0;
    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}   

header nav ul li {
    align-self: center;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    padding: 20px 20px;
}

/* end header */
.container {
    width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: white;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-image {
    margin-bottom: 50px; 
} 


.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

/* top content contact */

.top-content-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    background-image: url(../img/los-angeles.jpg); /* fallback for older browsers */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url(../img/los-angeles.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom;
}

.stretch-animation {
    display: inline;
    margin: 0;
    padding: 150px 0;
    border: 0;
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}

.stretch-animation:before {
    content: 'Stretch';
    -webkit-animation-name: stretch-animation;
    -webkit-animation-duration: 3s;
    animation-name: stretch-animation;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes stretch-animation {
    0% {
        content: 'Stretch';
    }
    50% {
        content: 'Problems';
    }
    100% {
        content: 'Completed!!';
    }
}


/* about top container */

.top-content .text-container-about {
    width: 100%;
    padding: 0 1%;
    padding-bottom: 20px;  
}


/* end about top container */

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box:nth-child(1) {
    background-color: teal;
}

.middle-content .boxes .box:nth-child(2) {
    background-color: gold;
}

.middle-content .boxes .box:nth-child(3) {
    background-color: cadetblue;
}

.middle-content .boxes .box:nth-child(4) {
    background-color: coral;
}

.middle-content .boxes .box:nth-child(5) {
    background-color: crimson;
}

.middle-content .boxes .box:nth-child(6) {
    background-color: forestgreen;
}

.middle-content .boxes .box:nth-child(7) {
    background-color: darkorchid;
}

.middle-content .boxes .box:nth-child(8) {
    background-color: hotpink;
}

.middle-content .boxes .box:nth-child(9) {
    background-color: indigo;
}

.middle-content .boxes .box:nth-child(10) {
    background-color: dodgerblue;
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/* about content */

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.about-boxes {
    width: 45%;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px dashed black;
}

.about-boxes img {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.about-content button {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.container-about-bottom {
    width: 100%;
    padding: 3% 1%;
    padding-bottom: 20px;  
}

/* end about content */

/* contact content */

.contact-content {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px dashed black;
    padding-bottom: 20px; 
}

.box-contact {
    width: 50%;
}

.box-contact h2 {
    margin: 20px 0;
}

.box-contact form {
	width: 100%;
	
}

.box-contact form label {
	width: 100%;
	display: block;
}

.box-contact form input {
	width: 100%;
	display: block;
	margin: 20px 0;
	padding: 5px 10px;
	border: 1px solid #636363;
	
}

.box-contact form textarea {
	width: 100%;
	height: 150px;
	display: block;
	margin: 10px 0;
	padding: 20px 10px;
	border: 1px solid #636363;
	
}

.form-button {
	background-color: #afafaf;
    border: 1px solid #636363;
    cursor: pointer;
}

.box-contact-img {
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    text-align: center;
}

.box-contact-img img {
    width: 100%;
    max-width: 280px;
    height: auto;
}

.container-contact-bottom {
    width: 100%;
    padding: 3% 1%;
    padding-bottom: 20px;  
}

.container-contact-bottom h2 {
    text-align: center;
}


/* end contact content */

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}


@media all and (max-width: 600px) {

p {
    font-size: 1rem;
}

.logo {
    width: 100%;
    text-align: center;
}

header nav {
    width: 100%;

}

header nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    margin: 5px 0;
    padding: 5px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    padding: 20px 20px;
}

header nav ul li a:hover {
    background-color: #636363;
}


.box-contact {
    width: 100%;
    padding: 20px;
}

.about-content {
    flex-direction: column;
}

.about-boxes {
    width: 100%;
    padding: 20px;
} 

.about-boxes img {
    width: 100%;
}


.top-content .text-container {
    width: 100%;
}

.middle-content .boxes {
    flex-direction: column;
}

.middle-content .boxes .box {
    width: 13%;
    margin: 10px auto;
}

.bottom-content {
    flex-direction: column;
}

footer nav {
    width: 100%;
    flex-direction: column;
}


}